:root {
  --primary-color: #e76f51;
  --primary-color-light: #f4a261;

  --color-bg-light: #fafaff;

  --text-dark: #4a4a4a;
  --text-medium: #6e6e6e;
  --text-white: #fff;

  --default-font-size: 1.6rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.7;
  font-weight: 400;
  -webkit-text-smoothing: antialiased;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right,
    var(--primary-color-light),
    var(--primary-color)
  );
  height: 100vh;
  /* background: #fff; */
  /* font-size: var(--default-font-size); */
}

::selection {
  background: teal;
  color: #fff;
}

/* ======================================================= */

/* Utilities classes */

.container {
  color: #fff;
}
